/*
=============== 
Variables
===============
*/

:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(205, 86%, 17%);
  --clr-primary-2: hsl(205, 77%, 27%);
  --clr-primary-3: hsl(205, 72%, 37%);
  --clr-primary-4: hsl(205, 63%, 48%);
  /* primary/main color */
  --clr-primary-5: hsl(205, 78%, 60%);
  /* lighter shades of primary color */
  --clr-primary-6: hsl(205, 89%, 70%);
  --clr-primary-7: hsl(205, 90%, 76%);
  --clr-primary-8: hsl(205, 86%, 81%);
  --clr-primary-9: hsl(205, 90%, 88%);
  --clr-primary-10: hsl(205, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-black: #222;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}
/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  background-image: url(./SeasideArt.jpg);
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position: absolute;
  background-repeat: repeat;
  background-color: var(--clr-grey-6);
  background-blend-mode: screen;
  height: 60rem;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-5);
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}

/*  global classes */
main {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
}
.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}
header {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

#dom-logo {
  box-shadow: black 0 4px 10px 0px;
  border-radius: var(--radius);
}

.title {
  color: #fff;
  width: 75%;
  margin: 5rem 0;
}

.subtitle {
  font-size: 1rem;
  transform: translateY(-2.2rem);
  z-index: 2;
}

.off {
  display: none;
}

.btn {
  background: var(--clr-green-dark);
  padding: 0.5rem 1rem;
  margin: 1rem;
  margin-top: 2rem;
  font-size: 1.2rem;
  font-weight: 700;
  box-shadow: black 4px 4px 10px 0px;
  border-color: transparent;
  border-radius: var(--radius);
  text-transform: capitalize;
  color: var(--clr-white);
  cursor: pointer;
  outline: none;
}

.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1300px;
  margin: 1rem 2rem;

  box-shadow: rgba(245, 212, 245, 0.5) 0 0 10px 10px;
  background-color: rgba(245, 212, 245, 0.5);
  border-radius: var(--radius);
}
.card {
  width: 14rem;
}

.extras {
  margin: 1rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  box-shadow: rgba(255, 254, 238, 0.5) 0 0 10px 10px;
  background-color: rgba(255, 254, 238, 0.5);
  border-radius: var(--radius);
}
.extra {
  width: 20rem;
}

.setup {
  margin: 1rem;
  box-shadow: rgba(178, 225, 197, 0.25) 0 0 10px 10px;
  background-color: rgba(178, 225, 197, 0.25);
  border-radius: var(--radius);
  text-align: left;

  display: flex;
  align-items: center;
  flex-direction: column;
}
.setup-item-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 60rem;
}

.setup-item {
  background-color: var(--clr-primary-7);
  border-radius: var(--radius);

  padding: 0.5rem 1rem;
  margin: 0.5rem;
  font-size: 1.2rem;
  font-weight: 700;
  box-shadow: black 4px 4px 10px 0px;
}
.item {
  height: 10rem;
  margin: 1rem 1rem;
  display: block;
  box-shadow: black 4px 4px 10px 2px;
  border: 2px solid var(--clr-grey-1);
  border-radius: var(--radius);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

img {
  background-color: var(--clr-grey-1);
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.overlay-text {
  background-color: var(--clr-primary-10);
  border-radius: 1rem;
  border: 2px solid var(--clr-grey-1);
  padding: 0.3rem 0.6rem;
  transform: translateY(1rem);
  position: absolute;
}

.extra > img {
  height: 8rem;
}

.extra-label {
  height: 2rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.way {
  background-color: lightblue;
}
.event {
  background-color: gray;
}
.landmark {
  background-color: green;
}
.project {
  background-color: salmon;
}
.heirloom {
  background-color: gold;
}

.underline {
  width: 10rem;
  height: 0.25rem;
  background: var(--clr-primary-5);
  margin: 1rem;
}
